* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main,
footer {
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

nav>h3 {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.menu {
    display: flex;
}

.menu>li {
    list-style: none;
    margin-right: 20px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

}

.menu>li>a {
    text-decoration: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title>h2 {
    color: #131313;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

    margin-top: 100px;
}

.header-description>p {
    width: 862px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}

.btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

.banner {
    margin-top: 30px;
    max-width: 1100px;
    width: 100%;
}

/* feature section */

.feature {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 85px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-title {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
    width: 468px;

}

.black {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.orange {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-descripption {
    margin-top: 20px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* featured section */
.featured {
    display: flex;
    gap: 140px;
    margin-top: 150px;
}

.featured-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 8px solid #FF900E;
    padding-left: 20px;
}

.featured-descripption {
    padding-left: 30px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.featured-card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.featured-card>h5 {
    color: #131313;
    font-size: 1.4rem;
    font-weight: 600;
}

.featured-card>p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.ten-years-badge {
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    margin: 0;
    position: relative;
    top: -110px;
    left: -90px;
}

.badge-title {
    padding-top: 45px;
    color: #FFF;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 70px;
}

.badge-description {
    text-align: center;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 40px;
}

/* facts section */



.facts {
    margin-top: 50px;
}

.facts-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-title-description {
    margin-top: 1rem;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.facts-card-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1.2rem;
}

.card-stats {
    color: #424242;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

.card-title {
    color: #727272;
    font-size: 1.8rem;
    font-weight: 600;
}

.card>img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}

/* facts section end */

/* sponsor section start */


.sponsors {
    text-align: center;
    margin-top: 50px;
}

.sponsors-gallery {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


footer {
    border-radius: 8px;
    background: #FFF4E7;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

/* responsive */

/* responsive header */


@media screen and (max-width: 576px) {
    main {
        margin-left: 5px;
    }

    header {
        padding: 5px;
    }

    .header-title {
        text-align: center;
        width: 100%
    }

    .featured {
        flex-direction: column;
    }

    .featured-image>img {
        width: 100%;

    }

    .ten-years-badge {
        top: 20px;
        left: 10px;
    }

    .feature-descripption,
    .card {
        padding: 10px;
        margin: 20px;
    }

    .feature-title {
        width: 100%;
    }

    .sponsors-gallery {
        flex-direction: column;
        align-items: center;

    }

    .sponsors-gallery>img {
        width: 80%;
        margin-top: 50px;
    }

    nav,
    .facts-card-container {
        flex-direction: column;
    }

    nav>ul {
        padding-top: 30px;
    }

    .header-title>h2,



    .header-description>p {
        width: 100%
    }


    .banner {
        width: 100%;
    }


}

/* medium Devices */
@media screen and (min-width: 576px) and (max-width: 980px) {
    .featured {
        flex-direction: column;
        width: 100%;
    }

    .ten-years-badge {
        top: 20px;
        left: 10px;
    }

    .facts-card-container,
    .sponsors-gallery {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .sponsors-gallery {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }

    header {
        padding: 5px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        padding-top: 30px;
    }

    .header-title>h2 {
        width: 100%;
        margin-top: 20px;
    }

    .header-description>p {
        width: 100%
    }


    .banner {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {

    .feature {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (min-width: 576px) and (max-width: 980px) {
    .feature {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

}